
<!-- muestra la imágen en miniatura del elemento -->
<img src="{{files.0.file_urls.thumbnail}}" alt="">


<h1>Colección Estudio Fotográfico</h1>
<!-- recorre todos los elementos -->
<paragraph>Muestra del registro de retratos fotográficos hechos en un estudio de la localidad de Chapinero en la ciudad de Bogotá. El archivo físico cuenta con miles de negativos que esperan ser digitalizados y clasficados para servir como una fuente de investigación en el género del retrato en la ciudad de Bogotá durante las decadas pasadas.<p>El archivo contiene material que comprende el periodo entre de 1993 a 2005. <p>Negativos análogos, dimensiones variables. Derechos: Visión Color - Estudio fotográfico
</paragraph>

{{#each items}}
  <!-- recorre la lista de textos -->
  {{#each this.element_texts}}
    <!-- si el texto es 'Title' -->
      {{#ifeq this.element.name 'Número consecutivo'}}
        <h4>Sobre #: {{this.text}}</h4>
      {{/ifeq}}
      {{#ifeq this.element.name 'URL'}}
      <img src="{{this.text}}" alt="" height="268" width="400">
      {{/ifeq}}
      {{#ifeq this.element.name 'Fecha de registro'}}
        <p>Fecha de registro: {{this.text}}</p>
      {{/ifeq}}
      {{#ifeq this.element.name 'Nombre en el sobre'}}
      <p>Nombre en el sobre: {{this.text}}</p>
      {{/ifeq}}
      {{#ifeq this.element.name 'Información adicional en el sobre'}}
        <p>Información adicional en el sobre: {{this.text}}</p>
      {{/ifeq}}
      {{#ifeq this.element.name 'Número de negativos'}}
        <p>Número de negativos: {{this.text}}</p>
      {{/ifeq}}
      {{#ifeq this.element.name 'Espacio de color'}}
        <p>Espacio de color: {{this.text}}</p>
      {{/ifeq}}
      {{#ifeq this.element.name 'Dimensiones del negativo'}}
        <p>Dimensiones del negativo: {{this.text}}</p>
      {{/ifeq}}
      {{#ifeq this.element.name 'Número de personas retratadas'}}
        <p>Número de personas retratadas: {{this.text}}</p>
      {{/ifeq}}
      {{#ifeq this.element.name 'Sexo'}}
        <p>Sexo: {{this.text}}</p>
      {{/ifeq}}

  {{/each}}
{{/each}}
{{log items}}
</paragraph>
